body {
    background-color: #036564;
}
main {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    background-color: #E8DDCB;
}
.container{
margin: 10px;

}

#c1 {
    background-color: #CDB355;
}

#c2 {
    background-color: #CDB395;
}

#c3{
    background-color: #CDB325;
}