body{
    max-width:960px;
    margin-left: auto;
    margin-right: auto;
}

.header img {
    float: left;
}
.header h1, h2 {
    position: relative;
}

main {
    display: flex;
    display: -webkit-flex /*Safari*/
    flex-direction: row;
    justify-content: flex-start;
}

* {
    background-color: #CDB380;
}

/* NAVIGATION BAR CSS */
/*removes bullet points*/
#navigation
{
    background-color: blue;
}
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li {
    float: left;
}

li a:hover{
    color: purple;
}

/* IMAGE SIZING CSS */
#buglogo
{
    width: 150px;
}

/* TEXT STYLING */
h1 {
    font-family: 'Roboto', sans-serif;
    font-wight: 300;
}

p, h2, a{
    font-family: 'Roboto', sans-serif;;
    font-wight: 400;
}

#content
{
    padding-top: 10px;
    padidng-left: 10px;
    padding-right: 10px;
    text-align: justify;
    background-color: royalblue;
}


/* FONT SIZING */
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h1 {
    font-size: 14px;
}
h1 {
    font-size: 14px;
}