* {
    background-color: #E8DDCB;
    font-family: verdana;
}

h1, h2, h3 {
    color: #033649;
}

p {
    color: #036564;
    text-align: justify;
}

img {
    width: 300PX;
}

footer p::after {
    content: " - styling edited by rita";
}