* {
    background-color: #CDB380;
    font-family: verdana;
}

header h1 {
    color: #033649;
}

main h2, h3 {
    color: #036564;
}

p {
    color: #036564;
    text-align: justify;
}

form {
    color: #036564;
}

img {
    width: 200PX;
}

A:link {
    COLOR: #000000;
}

A:hover {
    COLOR: #036564;
}

A:visited {
    COLOR: #E8DDCB;
}

footer p::after {
    content: " - styling edited by rita";
}