body {
    background-color: #036564;
}
main {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    height: 700px;
    background-color: #E8DDCB;
    display: flex;
    display: -webkit-flex /*Safari*/

}
.container{
margin: 7px;
}

#c1 {
    background-color: #CDB355;
    flex-grow: 3;
    order: 3;
}

#c2 {
    background-color: #CDB395;
    order: 1;
    flex-grow: 1;
}

#c3{
    background-color: #CDB325;
    order: 2;
    flex-grow: 2;
}